@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
}

/* body{
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
} */
header{
    height: 100px;
    width:100% ;
    background-color: #000;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    display: flex;
    padding: 20px;
    position: relative;
}

.header p{
    font-size:150%;
    font-weight: bold;
    color: aliceblue;
}
.header p i{
    color: aliceblue;
    font-size: 150%;
}
.shopping{
    display: flex;
    background-color: aliceblue;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    border-radius: 5px;
    width: 90px;
    position: absolute;
    right:5%;
    top: 20%;
}
.shopping p{
    font-size:1.1rem;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    color: aliceblue;
    border-radius: 50%;
}
.shopping i{
    font-size: 1.2rem;
    margin-right: 9%;
    color: #000;
}
/*=============books==============*/
.container-book{
    height: 350px;
    width: 80%;
    background-color: white;
    border-radius: 20px;
    margin: 50px auto;
    position: relative;
    /* box-shadow: 1px 1px 1px black; */
}
.container-book img{
    border-top-left-radius:20px;
    border-bottom-left-radius: 20px;
}
.container-book H1{
    position: absolute;
    top:2%;
    width: 70%;
    right: 0;
    font-size: 130%;
}
.description{
    position: absolute;
    width: 60%;
    left: 30%;
    top: 35%;
    font-size: 0.8rem;
}
.description span{
    color: blue;
    font-size: 0.8rem;
}
.price{
    position: absolute;
    top:50% ;
    left: 30%;
}
.price p{
    color: #006400;
}
.price span{
    color: #9e2a2b;
}
.order input{
    position: absolute;
    width: 80px;
    top: 85%;
    left: 35%;
}
.order p{
    position: absolute;
    left: 30%;
    top: 85%;
}
.order button{
    position: absolute;
    padding: 0.3rem 4.5rem 0.3rem 4.5rem;
    top: 83%;
    right: 10%;
    border-radius: 20px;
    border: 2px solid #fcbf49;
    background-color: #fcbf49;
    transition: all 0.5s ease;

}
.order button i{
    margin-left: 5px;
}
button:hover{
    background-color:#f0a819 ;
    transition: all 0.7s ease;
}
.container-book:hover{
    box-shadow: 3px 3px 8px black;
    transition: all 0.5s ;
}
.valid{
    position: absolute;
    top: 73% !important;
    left: 60% !important;
    color: green;
    font-size: 0.8rem;
    display:none;
    transition: all 0.5;
}
/*======table==========*/
table{
    width: 90%;
    margin: 10% auto;
    font-size: 0.9rem;
    border: 1px solid black;
    text-align: center;
    /* border-collapse: collapse; */

}
td{
    border: 1px solid black;
    padding: 1rem;
}
tr{
    border: 1px solid black;

}
th{
    border: 1px solid black;
    background-color: #fcbf49;
}
#total {
    font-weight: bold;
    color: #9e2a2b;
    font-size: 1.2rem;
}
/*=============footer==========*/
#Buy{
    margin: 5% 33%  ;
    padding: 0.5rem 4rem ;
    font-size: 110%;
    font-weight: bolder;
    border-radius: 50px;
    border: 2px solid #0ead69;
    background-color: #0ead69;
    transition: all 0.5s ease; 
}
#Buy i{
    font-size: 110%;
    font-weight: bolder;
    margin-right: 10px;
}
#Buy:hover{
    background-color: #80ffdb;
    border-color: #80ffdb;
    box-shadow: 0 0 5 #80ffdb;
}
#next {
    margin: 0 35%  10%  ;
    padding: 0.5rem 4rem ;
    font-weight: bolder;
    border-radius: 50px;
    border: 2px solid #0ead69;
    background-color: #0ead69;
    transition: all 0.5s ease; 
    display:none;
}
#next i{
    margin-left: 10px;
}
