@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
.container{
    display: flex;
    align-items: center;
    flex-flow: column;
    padding-bottom: 60px;
    margin-top:20%;
}

form{
    background: hsla(33, 100%, 100%, 0.3);
    border-radius: 5px;
    box-shadow: 5px 10px 19px black;
    padding: 3rem;
    width: 70%;
    padding-top: 150px;
    margin-left: 15%;
    margin-bottom: 15%;
}

.inputBox{
margin-top: 1rem;

}

label{
    display: block;
    padding-bottom: 5px;
    font-size: 1.2rem;
}
select,input{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgb(122, 122, 122);
}

.flexbox{
    display: flex;
    gap: 15px;

}
.flexbox .inputBox{
    flex: 1 1 150px;
}
.submit-btn{
background: linear-gradient(10deg, rgb(115, 221, 235), rgb(34, 85, 195));
padding: 10px;
font-size:20px;
transition: 0.2s linear;
color: #fff;
border-radius: 10px;
margin-top: 5%;
width: 40%;
}

.submit-btn:hover{
font-size: 1.3rem;
opacity:0.8 ;
}

.card{
    margin-bottom: -150px;
    position: relative;
    width: 500px;
    height: 300px;

}
.front{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 5px;
    backface-visibility: hidden;
    box-shadow: 0 15px 25px black;
    background: linear-gradient(10deg, rgb(3, 0, 184), rgb(207, 166, 255));
    color: #fff;
}
#chip{
    position: absolute;
    top: 5%;
    left: 5%;
}
#map{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.2;
    z-index: 0;
}
#visa{
    position: absolute;
    top: 5%;
    right: 5%;
    font-family: 'kredit-front', sans-serif;
}
.number{
    position: absolute;
    top: 40%;
    left: 10%;
    font-size: 150%;
}
.card-holder{
    position: absolute;
    top: 70%;
    left: 10%;
}
.card-holder-name{
    position: absolute;
    top: 80%;
    left: 10%;
}
.expires{
    position: absolute;
    top: 70%;
    right: 10%;
}
.exp-month{
    position: absolute;
    top: 80%;
    right: 15%;
}
.exp-year{
    position: absolute;
    top: 80%;
    right: 10%;
}
.back{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(10deg, rgb(3, 0, 184), rgb(207, 166, 255));
    border-radius: 5px;
    padding: 20px 0;
    text-align: right;
    backface-visibility: hidden;
    box-shadow: 0 15px 25px black;
    transform: rotateY(180deg);
}

.strip{
    width: 100%;
    height: 3.5rem;
    margin-top: 20px;
    background-color: black;
}
#visa-back{
    position: absolute;
    bottom: 5%;
    right: 10%;
}
.cvv-box{
    width: 90%;
    margin: 0 auto;
    height: 3.5rem;
    margin-top: 20px;
    background-color: white;
    border-radius: 10px;
}
#cvv-span{
    font-size: 1.5rem;
    margin-right:5%;
}
#cvv-span-box{
    margin-top: 10%;
    color: black;
    font-size: 120%;
    position: absolute;
    left: 10%;
    bottom: 40%;
}
#generate{
background: linear-gradient(10deg, rgb(115, 221, 235), rgb(34, 85, 195));
padding: 10px;
font-size:20px;
transition: 0.2s linear;
color: #fff;
border-radius: 10px;
margin-top: 0;
width: 26%;
position: absolute;
bottom:-30.5%;
left: 55%;
}
#generate:hover{
    font-size: 1.3rem;
    opacity:0.8 ;
}