
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

@media (min-width :992px){
h1{
    margin-bottom: 2em;
    margin-top: 1.5em;
    text-align: center;
}
p{
    font-size: 120%;
    padding: 2.5em 1em 0.5em 1em;

}
 body > div{
    background-color: rgb(158, 157, 157);
    border: 2px black solid;
    margin: 10px;
    position: relative;
    float: left;
    width: 30%;
}
.div1{
    margin-left: 2.5em;
}
.titel1{
    background-color: rgb(206, 138, 149);
    position: absolute;
    border:1px solid black;
    right: 0;
    /* padding:  0.5rem 0.8rem ; */
    width: 35%;
    
    
}
.titel2{
    background-color: rgb(173, 74, 74);
    position: absolute;
    border:1px solid black;
    right: 0;
    /* padding: 0.5rem  2rem; */
    width: 35%;
    color: aliceblue;
      
}
.titel3{
    background-color: rgb(240, 195, 136);
    border:1px solid black;
    right: 0;
    /* padding: 0.5rem  2rem; */
    width: 35%;
    position: absolute;

}
h2{
    font-size: 1.5em;
    text-align: center;
}
}
@media (min-width: 768px) and (max-width: 991px)  {
    h1{
        margin-bottom: 2em;
        margin-top: 1.5em;
        text-align: center;
    } 

    .div3{
        width: 97.5%;
        background-color: rgb(158, 157, 157);
        border: 2px black solid;
        margin: 1em;
        position: relative;
        float: left;
    }
    .div1 , .div2{
        background-color: rgb(158, 157, 157);
        border: 2px black solid;
        margin: 1em;
        position: relative;
        float: left;
        width: 45%;
    }
    .titel1{
        background-color: rgb(206, 138, 149);
        position: absolute;
        border:1px solid black;
        right: 0;
        /* padding:  0.5rem 0.8rem ; */
        width: 30%;
        
        
    }
    .titel2{
        background-color: rgb(173, 74, 74);
        position: absolute;
        border:1px solid black;
        right: 0;
        /* padding: 0.5rem  2rem; */
        width: 30%;
        color: aliceblue;
          
    }
    .titel3{
        background-color: rgb(240, 195, 136);
        border:1px solid black;
        right: 0;
        /* padding: 0.5rem  2rem; */
        width: 15%;
        position: absolute;
  
    }
    p{
        font-size: 120%;
        padding: 3em 1em 0.5em 1em;
        
    }
    h2{
        font-size: 1.5em;
        text-align: center;
    }
}
    @media (max-width:767px) {
        h1{
            margin-bottom: 2em;
            margin-top: 1.5em;
            text-align: center;
        } 
    
        .div3{
            width: 90%;
            background-color: rgb(158, 157, 157);
            border: 2px black solid;
            margin: 1em;
            position: relative;
            float: left;

        }
        .div1 , .div2{
            background-color: rgb(158, 157, 157);
            border: 2px black solid;
            margin: 1em;
            position: relative;
            float: left;
            width: 90%;
        }
        .div1 , .div2 ,.div3{
            margin-left: 2em;
        }
        .titel1{
            background-color: rgb(206, 138, 149);
            position: absolute;
            border:1px solid black;
            right: 0;
            /* padding:  0.5rem 0.8rem ; */
            width: 30%;
            
            
        }
        .titel2{
            background-color: rgb(173, 74, 74);
            position: absolute;
            border:1px solid black;
            right: 0;
            /* padding: 0.5rem  2rem; */
            width: 30%;
            color: aliceblue;
              
        }
        .titel3{
            background-color: rgb(240, 195, 136);
            border:1px solid black;
            right: 0;
            /* padding: 0.5rem  2rem; */
            width: 30%;
            position: absolute;
      
        }
        p{
            font-size: 120%;
            padding: 3em 1em 0.5em 1em;
            
        } 
        h2{
            font-size: 1.5em;
            text-align: center;
        }
    }