
.container{
    margin: auto ;
    margin-top: 6%;
    width: 50%;
    border: solid 1px gray;
    padding: 0em 2em 2em 2em;
    border-radius: 1.5%;
}
label{
    font-size: 120%;
}

#name,#grade,#button{
    width: 100%;
    height: 1.5em;
    padding: 0.3rem;
    margin-left:1px ;
    margin-right:1px ;
    border-radius:10px;
    border: 1px solid #bebebe;    
}
input[type=text]:focus {
    border: 1px solid #5a5a5a;

}
#button{
    height: 2.5em;
    background-color: rgb(43, 141, 56);
    color: white;
    
}
#button:hover,#button:active{
    border: solid 3px rgba(183, 255, 183, 0.541);
}
h1{
    padding: 0;
    text-align: center;
}
table{
   margin: auto;
   border: solid black 1px;
   padding: 0 3em;
   font-size: 1.1em;
   
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  th, td {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 2em;
    padding-right: 3em;
  }

