nav {
    background-color: rgb(168, 168, 168);
    border: 2px solid black;
  }
  h1{
    font-size: 2rem;
  }
  .navbar-nav{
    color: azure;
  } 
 li{
    /* border-top: 1px solid black; */
    border-bottom: 1px solid black;
    text-align: center;
 }

.paragraph{
    margin-top: 5vw;
}
.text{
    border: 2px solid black;
    padding: 2vw;
    background-color: bisque;
    margin-left: 8vw;
    margin-right: 8vw;

}
/* @media (min-width: 576px) { 
    nav{
        padding-bottom: 0;
        
    }
 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... } */


@media (min-width: 992px) { 
    li{
        visibility: hidden;
    }

 }

